/****************************************
              CONSTANTS
****************************************/
/****************************************
              THEME COLORS
****************************************/
/****************************************
              VARIABLES
****************************************/
/* Full height mode */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
}
/* Layout dimensions *************************************** */
.sifter-desktop-header {
  height: 85px;
}
.sifter-filters-popdown {
  max-height: calc(100% - 85px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* With pop down hidden */
.sifter-filters-popdown.slide-up {
  display: none;
}
.sifter-content {
  height: calc(100% - 85px);
  /* 85px for the top red bar */
}
.sifter-imagelist {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 60%;
}
.sifter-map {
  width: 40%;
}
.sifter-imagelist,
.sifter-map {
  float: left;
  height: 100%;
}
/* Overlay Depth Indexes ************************************ */
.sifter-desktop-header {
  z-index: 200;
}
.sifter-filters-popdown {
  z-index: 200;
}
.show-dialog,
.new-dialog,
.modal-popup,
.modal-large {
  z-index: 300;
}
.sifter-modal-overlay {
  z-index: 299;
}
/* Desktop Header ******************************************* */
.sifter-desktop-header {
  position: relative;
  overflow: hidden;
  /* Prevent padding from wrapping the nav */
  box-shadow: 0 0 10px #888888;
  background-color: #b70101;
  height: 80px;
}
.sifter-logo-box {
  float: left;
  color: white;
  position: relative;
  top: 0;
  height: 100%;
  text-shadow: 0 0 5px rgba(155, 155, 155, 0.1);
}
.sifter-logo-box h1 {
  top: 0;
  height: 80px;
  margin: 0;
  padding: 0;
  border: 0;
}
.scale_logo {
  height: 66px;
  margin: 7px;
  padding: 0;
  border: 0;
  float: left;
}
.siftr-name {
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 15px;
  padding-top: 2px;
  display: inline-block;
  float: left;
}
.sifter-rightside-launchpad {
  float: right;
  position: relative;
  top: 50%;
  margin-top: -25px;
  right: 50px;
}
.sifter-rightside-launchpad button {
  height: 50px;
  width: 50px;
  font-size: 30px;
  padding: 0;
  text-align: center;
  margin-left: 20px;
  font-family: sans-serif;
}
.sifter-rightside-launchpad button span {
  vertical-align: middle;
}
.launchpad-button,
.filter-button,
.modal-button {
  color: #cacaca;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150, 150, 150, 0.1);
}
.modal-button {
  color: #777;
}
.modal-button:hover,
.launchpad-button:hover {
  color: #b70101;
}
.launchpad-button.button-active {
  color: #b70101;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #f7f5e8;
  background-repeat: repeat-x;
  border: 1px solid #e7d9c1;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}
.filter-button.button-active,
.modal-button.button-active {
  color: #f7f5e8;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #b70101;
  background-repeat: repeat-x;
  border: 1px solid #e7d9c1;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}
.modal-button.button-active:hover {
  color: #ccc;
}
/* Desktop Nav ********************************************* */
.sifter-filters-popdown {
  box-shadow: 0 0 10px #888888;
  background-color: #f7f5e8;
  position: absolute;
}
.sifter-filters,
.sifter-categories {
  float: left;
}
/* Filter Buttons */
.sifter-filters {
  font-size: 110%;
  width: 100%;
}
.sifter-filters button {
  width: 100%;
  color: #b70101;
  padding: 0.25em;
}
/* Category Links */
.sifter-categories {
  font-size: 0.7em;
}
.sifter-categories .sifter-category {
  display: block;
  padding: 0.5em;
  list-style: none;
  color: #b70101;
}
.sifter-category .scale-icon {
  font-size: 2.55em;
  /* opera crunch */
  vertical-align: middle;
}
.sifter-category input[type=checkbox],
.sifter-category input[type=radio] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -5000px;
}
.sifter-category input[type=checkbox] + span,
.sifter-category input[type=radio] + span,
.sifter-category input[type=checkbox] + label,
.sifter-category input[type=radio] + label {
  opacity: 0.4;
}
.sifter-category input[type=checkbox]:checked + span,
.sifter-category input[type=radio]:checked + span,
.sifter-category input[type=checkbox]:checked + label,
.sifter-category input[type=radio]:checked + label {
  color: #b70101;
  opacity: 1.0;
}
.desktop-search {
  display: inline;
  height: 2em;
  width: 175px;
  border: 1px solid #cacaca;
  border-radius: 50px;
  padding-left: 10px;
  box-shadow: inset 0 0 10px rgba(136, 136, 136, 0.2);
}
/* Footer */
.sifter-popdown-footer {
  background-color: #e7d9c1;
  border-top: 1px solid #f8ead2;
  color: #b70101;
  bottom: 0;
  width: 100%;
  padding: 5px;
  padding-left: 1em;
}
/* catch the nexus 7 shrunken screen */
/*
@media only screen and (max-height: 740px)
{
  .sifter-popdown-footer
  {
    display: none;
  }
}
*/
/* MT: commenting out because this hides about/logout on small desktop window */
.sifter-filters-popdown {
  right: 0;
  width: 275px;
}
/* Content Area */
.sifter-content {
  background: #cacaca;
}
/* Image List */
.sifter-grid-note {
  width: 23%;
  margin: 1%;
  float: left;
  position: relative;
  /* for icons to be absolute */
  /* Non square hack */
  /*height: 0;
  padding-bottom: 23%;*/
  border-radius: 4px;
}
.square-dummy {
  margin-top: 100%;
}
.list-note-message {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  max-height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
}
.sifter-grid-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px #888888;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sifter-imagelist .scale-icon {
  position: absolute;
  font-size: 100%;
  top: 0;
  right: 0;
  margin: 0.25em;
}
/* Show Dialog ********************************************** */
.show-dialog,
.new-dialog,
.modal-large {
  position: fixed;
  width: 600px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #4d4d4d;
  box-shadow: 0 0 10px #888888;
  border-radius: 4px;
}
.modal-large {
  padding: 2.5em;
}
/* Close */
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  color: #cacaca;
  font-size: 200%;
  margin: 0.25em;
  background: #fff;
  cursor: pointer;
}
.close-button:hover {
  color: #b70101;
}
.sifter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
  height: 100%;
  width: 100%;
}
/* Modal Layout */
.show-dialog .sifter-show-content {
  float: left;
  width: 70%;
}
.show-dialog .sifter-show-sidebar {
  float: left;
  width: 30%;
}
/* Modal style */
.modal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px #888888;
  border-radius: 4px;
  padding: 2.5em;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.sifter-image {
  width: 100%;
  display: inline-block;
  position: relative;
}
.sifter-image-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top-left-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sifter-image .scale-icon {
  position: absolute;
  font-size: 200%;
  top: 0;
  left: 0;
  margin: 0.25em;
}
.sifter-comments .sifter-comment,
.sifter-show-details {
  padding: 0 0.75em;
}
.sifter-new-comment {
  padding: 0.75em;
}
.sifter-comment p {
  margin-top: 0.25em;
  font-size: 90%;
}
.sifter-comment h3 {
  margin-bottom: 0.25em;
}
.sifter-comment h2 {
  margin-top: 0.25em;
  margin-bottom: 0;
  font-weight: normal;
  color: #cacaca;
}
.sifter-comment-author {
  /*color: #cf2037;*/
  color: #cf2037;
}
.edit-comment-box {
  position: relative;
}
.edit-comment-pencil {
  color: #cacaca;
}
.edit-comment-pencil:hover {
  color: #cf2037;
}
.edit-comment {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f7f7f7;
  border: 1px solid #cacaca;
  border-radius: 3px;
  left: -20px;
  top: 25px;
  font-weight: normal;
  font-size: 16px;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  z-index: 1;
}
.edit-comment-option {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.edit-comment-option:hover {
  background-color: #cf2037;
  color: white;
}
.sifter-new-comment textarea,
.sifter-comment-text-edit textarea {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: #f7f7f7;
  margin-bottom: 0.75em;
}
.sifter-comment-text-edit {
  display: none;
}
button.touch-friendly {
  width: 100%;
  padding: 0.25em;
}
/* Modal Borders */
.sifter-show-sidebar,
.new-right-side {
  border-left: 1px solid #cacaca;
  margin-right: -1px;
}
.sifter-show-content,
.new-left-side {
  border-right: 1px solid #cacaca;
  margin-right: -1px;
}
.sifter-new-comment {
  border-top: 1px solid #cacaca;
}
/* Login/Logout/Forgot popups */
.login_view,
.join_view {
  color: #b70101;
}
.modal-header h2 {
  margin: 0;
  text-align: center;
}
.modal-footer {
  margin: 1em 0;
  margin-bottom: 0;
}
.modal-footer span {
  display: block;
}
.input_group {
  font-size: 125%;
  margin: 1em 0;
}
.modal-popup button {
  padding: 0.25em;
  width: 100%;
}
.input_group label {
  display: inline-block;
  width: 6em;
}
.input_group input {
  border: 0;
  background: #f7f7f7;
  padding: 0.2em;
}
/* SVG icons */
.scale_search {
  background: url("../assets/images/icon_search.svg");
}
.scale-icon {
  height: 1em;
  width: 1em;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* Google Map style */
.sifter-map-icon img {
  width: 2em;
  cursor: pointer;
}
/* About View */
.about_view h1,
.about_view h2 {
  color: #b70101;
  font-weight: normal;
}
.to-siftr-home {
  color: #b70101;
}
.aboutLogo {
  height: 80px;
  vertical-align: middle;
}
.aboutName {
  vertical-align: middle;
}
.about_view h1,
.about_view h2,
.about_view h3 {
  margin-top: 0;
  text-align: center;
}
.about_view ul li {
  list-style-type: circle;
}
.about_view ul {
  padding-left: 1em;
}
/* New Dialog */
.error {
  background: lightpink !important;
}
.new-left-side,
.new-right-side {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.new-dialog .sifter-category {
  margin: 1em;
}
.new-dialog .sifter-category span span {
  font-size: 2.25em;
}
.new-dialog .category_box,
.new-dialog .camera_box {
  border-bottom: 1px solid #cacaca;
}
.camera_pad_box {
  padding: 0.5em;
}
.camera_box .left-small {
  position: absolute;
  padding: 0.2em;
  float: left;
  z-index: 1000;
  font-size: 2em;
  color: #f7f7f7;
  cursor: pointer;
}
.camera_box span:hover {
  /*color: #cf2037;*/
  color: #cf2037;
}
.camera_box .center-big {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #f7f7f7;
}
.camera_box span {
  width: 100%;
}
#show-image-box {
  height: 100%;
  width: 100%;
}
#show-image-div {
  width: 100%;
  display: inline-block;
  position: relative;
}
#show-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.camera_box {
  width: 283px;
  height: 283px;
  background: #cacaca;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
#le-image {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#in-camera {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -5000px;
}
#mapCanvas {
  width: 100%;
  background: #cacaca;
  height: 0;
  padding-bottom: 80%;
}
#searchTextField,
#caption {
  width: 100%;
  border: 0;
  padding: 0.2em;
  box-sizing: border-box;
  background: #f7f7f7;
  margin-bottom: 0.5em;
}
.input_box {
  padding: 0.5em;
}
.center {
  text-align: center;
}
.touch-friendly.half-size {
  width: 49%;
  margin: -1px;
}
/* Util section */
.clear {
  clear: both;
}
.hidden-desktop {
  display: none;
}
.working {
  text-align: center;
  color: #b70101;
}
.sifting {
  animation: sift 2s infinite;
}
@keyframes sift {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
/* Icons for social media sharing  */
.sifter-show-linkbar {
  border-bottom: 1px solid #cacaca;
  padding: 0.2em;
}
.shareable {
  display: inline-block;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  color: #96989b;
  padding-right: 0.25em;
  font-family: sans-serif;
  width: 18%;
  text-align: center;
}
.shareable:hover {
  color: #b70101;
}
.shareable span {
  vertical-align: text-top;
}
.sifter-delete-note {
  padding: 0.75em;
  padding-top: 0;
}
.internalLink {
  cursor: pointer;
}
#sifter-edit-description {
  display: none;
}
#sifter-edit-description textarea {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: #f7f7f7;
}
#shareMenuBox,
#shareEditBox {
  position: relative;
}
#shareMenu,
#shareEditMenu {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f7f7f7;
  border: 1px solid #cacaca;
  border-radius: 3px;
  left: 28px;
  top: 25px;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  z-index: 1;
}
.edit-menu-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #cacaca;
  top: -8px;
  left: 18px;
}
.share-table {
  display: table;
}
.share-row {
  display: table-row;
}
.shareEditOption {
  display: table-cell;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.shareEditOption:hover {
  background-color: #cf2037;
  color: white;
}
/* Desktop Size Bump */
.sifter-filters-popdown {
  font-size: 120%;
}
.sifter-category .scale-icon {
  font-size: 2.75em;
}
.show-dialog,
.new-dialog,
.modal-large {
  width: 900px;
}
/* Navigation/Content shrink/expand animation */
.sifter-filters-popdown,
.sifter-content {
  transition-duration: 0.25s;
}
button.touch-friendly {
  font-size: 125%;
}
.camera_box {
  width: 432px;
  height: 432px;
}
.camera_box .center-big {
  font-size: 6em;
}
