/* Full height mode */
html,body
{
  height: 100%;
  margin: 0;
}



/* Overlay Depth Indexes ************************************ */

.sifter-filters-slideout { z-index:  50; }
.sifter-header-toolbar,
.sifter-footer-toolbar   { z-index: 100; }
.show-dialog,
.modal-popup             { z-index: 300; }
.sifter-modal-overlay    { z-index: 299; }


.sifter-content
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sifter-header-toolbar,
.sifter-footer-toolbar
{
  height: 45px;
  width: 100%;
  position: fixed;
  padding-top: 5px;
}

.sifter-footer-toolbar,
.sifter-header-toolbar
{
  background: #fefefe;
}

.sifter-header-toolbar
{
  top: 0px;
}

.sifter-footer-toolbar
{
  bottom: 0px;
}

.sifter-content
{
-webkit-box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
}

.sifter-imagelist
{
  height: 100%;
  background: #ddd;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.sifter-map
{
  height: 100%;
}


.sifter-nav-button
{
  background: transparent;
  border: 0;
  height: 100%;
  width: 50px;
  color: #333;
  font-size: 150%;
}


.sifter-footer-toolbar,
.sifter-header-toolbar
{
  text-align: center;
}

.button-left
{
  float: left;
}

.button-right
{
  float: right;
  margin-right: 20px;
}

.button-center
{
  position: absolute;
  left: 50%;
  top: -30px;
  height: 100px;
  width: 100px;
  margin-left: -60px;
  border-radius: 5000px; /* Gross, old android border radius fix */
  font-size: 250%;
  color: #cf2037;
  background: #fefefe;
}

.sifter-search-field
{
  border: 1px solid #ddd;
  border-radius: 5000px;
  padding-left: 10px;
  width: 40%;
  height: 35px;
}



/* Slide out buttons */
.sifter-filters-slideout
{
  position: fixed;
  height: 160px;
  margin-bottom: 50px;
  bottom: -220px;
  padding-bottom: 60px;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  transition-duration: 0.5s;
}

.sifter-filters-expanded
{
  bottom: 0px;
}


.sifter-filters
{
  font-size: 1em;
  margin: 1em;
}

.sifter-filters button.filter-button
{
  color: #cf2037;
  background-color: #f7f7f7;
  border: 1px solid #cacaca;
  width: 25%;
  overflow: hidden;
  padding: 0.2em;

  margin-left: -1px;
  float: left;
}
.sifter-filters button.filter-button.button-active
{
  color: #fff;
  background: #cf2037;
  border: 1px solid #bb1c2b;
}

button.filter-button.first
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
button.filter-button.last
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.sifter-categories div
{
  font-size: 1.2em;
  margin-left: 1em;
}

.sifter-categories span
{
  vertical-align: -2px;
  color: #cf2037;
}

.sifter-categories input
{
  float: right;
  margin-right: 20px;
}


/* debug */
.img
{
  width: 48%;
  margin: 1%;
  float: left;

  position: relative;

  /* Non square hack */
  /*height: 0;
  padding-bottom: 48%;*/
}

.img img
{
  width: 100%;
}

.sifter-imagelist .scale-icon
{
  position: absolute;
  font-size: 100%;
  top: 0;
  right: 0;
  margin: 0.25em;
}


/* Show Dialog ********************************************** */

.show-dialog
{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  background: #fff;
  color: rgb(77,77,77);
}


/* Close */
.close-button
{
  position: fixed;
  left: 0;
  top: 0;
  color: #cacaca;
  font-size: 200%;
  margin: 0.25em;
  text-shadow: 0 0 2px rgba(0,0,0, 0.5);
}


.sifter-modal-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(100,100,100, 0.5);
  height: 100%;
  width: 100%;
}


/* Modal Layout */
.show-dialog .sifter-show-content
{
}


.show-dialog .sifter-show-sidebar
{
}


/* Modal style */
.modal-popup
{
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(136, 136, 136, 1.0); 
  border-radius: 4px;
  padding: 2em;
  overflow-y: auto;
  max-height: 100%;
}

.sifter-show-content .sifter-image img
{
  width: 100%;
}


.sifter-image .scale-icon
{
  position: absolute;
  font-size: 200%;
  top: 0;
  right: 0;
  margin: 0.25em;
}


.sifter-comments .sifter-comment,
.sifter-show-details
{
  padding: 0 0.75em;
}

.sifter-new-comment
{
  padding: 0.75em;
}

.sifter-comment p
{
  margin-top: 0.25em;
  font-size: 90%;
}

.sifter-comment h3
{
  margin-bottom: 0.25em;
}

.sifter-comment-author
{
  color: #cf2037;
}

.sifter-new-comment textarea
{
  width: 100%;
  border: 0;
  background: #f7f7f7;
}



/* Login/Logout/Forgot popups */
.login_view,
.join_view
{
  color: #cf2037;
}

.modal-header h2
{
  margin: 0;
  text-align: center;
}

.modal-footer
{
  margin: 1em 0;
  margin-bottom: 0;
}

.modal-footer span
{
  display: block;
}

.input_group
{
  font-size: 125%;
  margin: 1em 0;
}

.modal-popup button
{
  padding: 0.25em;
  width: 100%;
}


/* Hide labels on mobile for space */
.input_group label
{
  display: none;
}

.input_group input
{
  border: 0; 
  background: #f7f7f7;
  padding: 0.2em;
}

.modal-button
{
  color: #dedede;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150,150,150, 0.1);

  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
}

.modal-button.button-active
{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #cf2037;
  background-repeat: repeat-x;
  border: 1px solid #cf2037;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150,150,150, 0.5);

  background-image: linear-gradient(to bottom, #d31a36, #bb1c2b);
}


/* SVG icons */

.scale-mustdo     { background: url("../assets/images/icon_mustdo.svg");     }
.scale-100years   { background: url("../assets/images/icon_100years.svg");   }
.scale-culture    { background: url("../assets/images/icon_culture.svg");    }
.scale-innovation { background: url("../assets/images/icon_innovation.svg"); }
.scale-stories    { background: url("../assets/images/icon_stories.svg");    }
.scale-search     { background: url("../assets/images/icon_search.svg");     }

.scale-icon
{
  height: 1em;
  width: 1em;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}


/* Google Map style */
.sifter-map-icon img
{
  width: 2em;
}


/* util section */
.clear
{
  clear: both;
}

.hidden-mobile
{
  display: none;
}


/* TODO style checkbox for mobile
  input[type=checkbox]
  {
    visibility: hidden;
  }

  input[type=checkbox]:checked + label:after
  {
  }
*/

.working
{
  text-align: center;
  color: #cf2037;
}

.sifting
{
  animation: sift 2s infinite;
}

@keyframes sift
{
    0% { opacity: 0.0; }
   50% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
