/* Desktop Size Bump */

.sifter-filters-popdown
{
  font-size: 120%;
}

.sifter-filters
{
  width: 380px;
}

.sifter-categories
{
  width: 630px;
}

.sifter-categories .sifter-category
{
  width: 205px;
}

.sifter-category .scale-icon
{
  font-size: 2.75em;
}


.show-dialog,
.new-dialog,
.modal-large
{
  width: 900px;
}

/* Navigation/Content shrink/expand animation */
.sifter-filters-popdown,
.sifter-content
{
  transition-duration: 0.25s;
}

button.touch-friendly
{
  font-size: 125%;
}

.camera_box
{
  width: 432px;
  height: 432px;
}

.camera_box .center-big
{
  font-size: 6em;
}
