div
{
    /*
    background-color:rgba(0,0,0,0.1);
    border:solid black 1px;
    */
}

#message
{
    display:block;
}

#content
{
    display:none;
    margin:0 auto;
    font-family:"Helvetica, Arial";
}

#constructs
{
    display:none;
}

.hidden   { visibility:hidden;  display:none;}
.unhidden { visibility:visible; display:block;}

.main_view
{
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

#main_view_full
{
    -moz-box-orient:   horizontal;
    -webkit-box-orient:horizontal;
    -o-box-orient:     horizontal;
    -ms-box-orient:    horizontal;
    box-orient:        horizontal;

    height:100%;
}

#main_view_left
{
    -moz-box-flex:   2;
    -webkit-box-flex:2;
    -o-box-flex:     2;
    -ms-box-flex:    2;
    box-flex:        2;

    /* 
     * NOTE- 
     * I needed to set this to display:block; to get the note cells to properly float.
     * I don't fully understand the display:box; style, but it seems to introduce weirdness regarding 
     * floating things internally. Feel free to change it back, but be warned that it will cause all floated 
     * divs (.note_list_cell) to 'disappear'.
     * -Phil
     */
    display:block; 
    max-width:30%;
}

#main_view_right
{
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	
	-webkit-transform: translateZ(0);
	background-color: white;
}

#main_view_map
{
  display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

#main_view_info
{
    margin:10px 10px 10px 10px;
}

.note_list_cell
{
    float:left;
    padding:10px 0px 0px 10px;
    width:200px;
    min-height:100px;
}

.note_list_cell_media
{
    display:block;
    width:200px;
    border:1px solid black;
}

.container
{
    display:none;
    position:absolute;
}
#login_view_container
{
    left:40%;
    top:10%;
    width:350px;
    background-color:white;
}

#join_view_container
{
    left:40%;
    top:10%;
    width:350px;
    background-color:white;
}

#create_note_view_container
{
    top:3%;
    right:15%;
    background-color:white;
    width:85%;
    border:1px solid black;
}

.note_create_view
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    -ms-box-align: stretch;
    box-align:stretch;

    border:1px solid black;
}

.note_create_view_left
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    -ms-box-align: stretch;
    box-align:stretch;
}

.note_create_view_right
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;

    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    -ms-box-align: stretch;
    box-align:stretch;
}

.note_create_view_caption
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 2;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    -ms-box-align: stretch;
    box-align:stretch;
}

.note_create_view_tagsaudio
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;

    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    -ms-box-align: stretch;
    box-align:stretch;
}

.note_create_view_tags
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: start;
    -webkit-box-align: start;
    -o-box-align: start;
    -ms-box-align: start;
    box-align:start;
}

.note_create_view_audio
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: start;
    -webkit-box-align: start;
    -o-box-align: start;
    -ms-box-align: start;
    box-align:start;
}

.note_create_view_submit
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: end;
    -webkit-box-align: end;
    -o-box-align: end;
    -ms-box-align: end;
    box-align:end;

    -moz-box-pack: end;
    -webkit-box-pack: end;
    -o-box-pack: end;
    -ms-box-pack: end;
    box-pack:end;
}

/* Begin note view */

#note_view_container
{
    overflow-y:scroll;
    overflow-x:scroll;
    border:1px solid black;
    display:none;
    position:absolute;
    top:3%;
    right:15%;
    max-height:100%;
    max-width:85%;
    background-color:white;
}



.note_view
{
	padding:1%;
    border:1px solid black;
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

}

.note_view_left
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.note_view_right
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify;
    box-pack:justify;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.note_view_info
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

   
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.note_view_captions
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.note_view_comment_label
{
    font-size:large;
}
.note_view_comments
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

  
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.note_view_input
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

   
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

/* End note view */

.login_view
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align:center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack:center;

    border:1px solid black;
}

.login_view_top
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align:center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack:center;
}

.login_view_bottom
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align:center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack:center;
}

.join_view
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align:center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack:center;

    border:1px solid black;
}

.join_view_top
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align:center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    box-pack:center;
}

.join_view_bottom
{
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    -o-box-flex: 2;
    -ms-box-flex: 2;
    box-flex: 2;
}

.button, .button:visited, .button:before
{
    display: inline-block; 
    padding: 3px 7px 4px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 11px;
}

#browseImage
{
    position: absolute;
    margin: 240px 0 0 -70px;
    z-index: 10;
    width:60px;
}

#showCamera
{
    position: absolute;
    margin: 270px 0 0 -70px;
    z-index: 11;
}

#snap
{
    position: relative;
    margin: -70px 0 0 -80px;
    z-index: 12;
}

#cancelNote
{
    margin: 10px;
}

#submitNote
{
    margin: 10px;
}

#address
{
    font-size:small;
}

#audioPreview
{
    font-size:small;
}

#searchTextField
{
    font-family: Helvetica, Arial;
}

textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 96%;
}

ul
{
    list-style-type: none;
}

.internalLink 
{
    cursor: pointer;
    color: blue;
    text-decoration:underline;
}
