html,body
{
  height: 100%;
  margin: 0;
}

/* Layout dimensions */
.sifter-desktop-header
{
  height: 15%;
}


  /* With pop down shown */
  .sifter-filters-popdown
  {
    height: 25%;
  }

  .sifter-content.shrunk
  {
    height: 60%;
  }

  /* With pop down hidden */
  .sifter-filters-popdown.slide-up
  {
    height: 0%;
  }

  .sifter-content
  {
    height: 85%;
  }

.sifter-imagelist
{
  overflow: scroll;
  width: 60%;
}

.sifter-map
{
  width: 40%;
}

.sifter-imagelist,
.sifter-map
{
  float: left;
  height: 100%;
}



/* Desktop Header */
.sifter-desktop-header
{
  position: relative;
  z-index: 200;
  box-shadow: 0 0 10px rgba(136, 136, 136, 1.0); 
}

.sifter-logo-box
{
  float: left;
  margin: 20px;
  color: #cf2037;
  position: relative;
  font-size: 20px;
  top: 50%;
  height: 100px;
  vartical-align: middle;
  margin-top: -50px;
  text-shadow: 0 0 5px rgba(155, 155, 155, 0.1);
}

.sifter-logo-box .siftr-logo
{
  font-size: 150%;
  vertical-align: middle;
}

.sifter-rightside-launchpad
{
  float: right;
  position: relative;
  top: 50%;
  margin-top: -25px;
  right: 50px;
}

.sifter-rightside-launchpad button
{
  height: 50px;
  width: 50px;
  font-size: 30px;
  padding: 0;
  text-align: center;
  margin-left: 20px;
}

.sifter-rightside-launchpad button span
{
  vertical-align: middle;
}

.launchpad-button, .filter-button 
{
  color: #dedede;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150,150,150, 0.1);

  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
}

.launchpad-button.button-active,
.filter-button.button-active
{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.25);
  background-color: #cf2037;
  background-repeat: repeat-x;
  border: 1px solid #cf2037;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(150,150,150, 0.5);

  background-image: linear-gradient(to bottom, #d31a36, #bb1c2b);
}



/* Desktop Nav */
.sifter-filters-popdown
{
  box-shadow: 0 0 10px rgba(136, 136, 136, 1.0); 
  background: #fff;
  z-index: 200;
  position: relative;
}

.sifter-filters,
.sifter-categories
{
  float: left;
}

  /* Filter Buttons */
  .sifter-filters
  {
    width: 400px;
    font-size: 110%;
  }
  .sifter-filters button
  {
    width: 150px;
    margin: 10px 20px;
    color: #cf2037;
    padding: 5px;
  }


  /* Category Links */
  .sifter-categories
  {
    width: 600px;
    margin: 20px;
    margin-left: -20px;
  }
  .sifter-categories div
  {
    width: 200px;
    display: inline-block;
    list-style: none;
    color: #cf2037;
  }

  .desktop-search
  {
    display: inline;
    width: 100px;
    border: 1px solid #f7f7f7;
    border-radius: 50px;
    padding-left: 10px;
    box-shadow: inset 0 0 10px rgba(136, 136, 136, 0.2); 
  }

  /* Footer */
  .sifter-popdown-footer
  {
    background: #f7f7f7;
    border-top: 1px solid #cacaca;
    color: #aaaaaa;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
  }


/* Navigation/Content shrink/expand animation */
.sifter-filters-popdown,
.sifter-content
{
  transition-duration: 0.25s;
}
.sifter-filters-popdown
{
  overflow: hidden;
}


/* Content Area */
.sifter-content
{
  background: #cacaca;
}



/* Image List */
.img
{
  width: 23%;
  margin: 1%;
  float: left;
}

.img img
{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 1.0); 
}

/* Util section */
.clear
{
  clear: both;
}

.hidden-desktop
{
  display: none;
}
