html,body
{
  height: 100%;
  margin: 0;
}

.sifter-content
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sifter-header-toolbar,
.sifter-footer-toolbar
{
  height: 45px;
  width: 100%;
  z-index: 100;
  position: fixed;
  padding-top: 5px;
}

.sifter-header-toolbar
{
  background: #fee;
  top: 0px;
}

.sifter-footer-toolbar
{
  background: #fee;
  bottom: 0px;
}

.sifter-content
{
-webkit-box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
}

.sifter-imagelist
{
  height: 100%;
  background: pink;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.sifter-map
{
  height: 100%;
  background: green;
}


.sifter-nav-button
{
  background: transparent;
  border: 0;
  height: 100%;
  width: 50px;
  color: #333;
  font-size: 150%;
}


.sifter-footer-toolbar,
.sifter-header-toolbar
{
  text-align: center;
}

.button-left
{
  float: left;
}

.button-right
{
  float: right;
  margin-right: 20px;
}

.button-center
{
  position: absolute;
  left: 50%;
  top: -40px;
  height: 100px;
  width: 100px;
  margin-left: -60px;
  border-radius: 50%;
  font-size: 250%;
  color: #cf2037;
  background: #fee;
}

.sifter-search-field
{
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 8px;
}

/* debug */
.img
{
  height: 200px;
  width: 200px;
  background: blue;
  margin: 10px;
  float: left;
}
