html,body
{
  height: 100%;
  margin: 0;
}

.sifter-content
{
  padding-top: 50px;
  padding-bottom: 50px;
}

.sifter-header-toolbar,
.sifter-footer-toolbar
{
  height: 45px;
  width: 100%;
  z-index: 100;
  position: fixed;
  padding-top: 5px;
}

.sifter-header-toolbar
{
  background: #fee;
  top: 0px;
}

.sifter-footer-toolbar
{
  background: #fee;
  bottom: 0px;
}

.sifter-content
{
-webkit-box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
}

.sifter-imagelist
{
  height: 100%;
  background: #ddd;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.sifter-map
{
  height: 100%;
}


.sifter-nav-button
{
  background: transparent;
  border: 0;
  height: 100%;
  width: 50px;
  color: #333;
  font-size: 150%;
}


.sifter-footer-toolbar,
.sifter-header-toolbar
{
  text-align: center;
}

.button-left
{
  float: left;
}

.button-right
{
  float: right;
  margin-right: 20px;
}

.button-center
{
  position: absolute;
  left: 50%;
  top: -40px;
  height: 100px;
  width: 100px;
  margin-left: -60px;
  border-radius: 50%;
  font-size: 250%;
  color: #cf2037;
  background: #fee;
}

.sifter-search-field
{
  border: 1px solid #ddd;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 8px;
}



/* Slide out buttons */
.sifter-filters-slideout
{
  position: fixed;
  height: 160px;
  margin-bottom: 50px;
  bottom: -190px;
  padding-bottom: 30px;
  background: white;
  width: 100%;
  transition-duration: 0.5s;
  z-index: 50;
}

.sifter-filters-expanded
{
  bottom: 0px;
}



.sifter-slideout-animation
{
  animation: slideout-bottom 0.5s;
  animation-fill-mode: forwards;
}

.sifter-slideout-reverse
{
  animation: slideout-bottom 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes slideout-bottom
{
    0% { bottom: -180px; }
  100% { bottom:    0px; }
}



.sifter-filters li
{
  list-style: none;
  display: inline-block;
  margin: 0;
}

.sifter-categories li
{
  list-style: none;
  margin-left: -20px;
}
.sifter-categories li span
{
  vertical-align: -2px;
  color: #cf2037;
}



/* debug */
.img
{
  width: 48%;
  margin: 1%;
  float: left;
}

.img img
{
  width: 100%;
}
